.hedge-section {
  max-width: 1440px;
  margin: 0 auto;

  .bg-wrap {
    user-select: none;
    pointer-events: none;
    position: relative;

    &:after {
      content: "";
      padding-bottom: 100%;
      display: block;

      @include tablet {
        padding-bottom: 162.630208333333333%;
      }
    }

    .lottie-container {
      position: absolute;
      z-index: 9;
      max-width: 681px;
      height: 100%;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
