@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

.font-text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.font-title, * {
    font-family: "DM Sans";
}

.font-impact {
    font-family: "Bebas Neue";
}