@import "../../node_modules/react-vertical-timeline-component/style.min.css";

.vertical-timeline::before {
  @apply bg-gradient-to-b;
  @apply from-primary-300;
  @apply to-primary-500;
}
.vertical-timeline-element-icon{
  @apply border-opacity-50;
}
.vertical-timeline-element-content-arrow {
  width: 24px;
  height: 4px;
  border: none;

  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
      margin: 2em 0;
  }
}
.svg-opacity-50 svg {
  @apply opacity-50;
}